body {
	margin:0 auto;
	text-align:left;
}
.framePage {
	border:#CACACA solid 1px;
	border-top-style:none;
	width:790px;
	padding-top:20px;
	text-align:left;
	background:url(../../App_Image/Admin/back2.gif) repeat-x;
}
.stud {
	padding-left:5px;
	padding-right:15px;
}
.msg
{
	padding-left:5px;
	padding-right:15px;
}
.framePage .welcome {
	color:#FA7703;
	height:40px;
	padding-left:10px;
	line-height:30px;
}
.iconTitle {/*大icon的标题*/
	height:40px;
	line-height:40px;
	font-weight:bold;
}
.boldTitle {
	font-weight:bold;
}
.newsContTitle {/*有icon的新闻news*/
	height:20px;
	padding-left:30px;

}
.newsCont {/*无icon的新闻news*/
	padding-left:40px;
	width:375px;
}
.framePage .newsLeft {
	width:440px;
	height:300px;
	float:left;
}
.framePage .bgline {
	width:26px;
	height:341px;
	float:left;
	background:url(../../App_Image/Admin/line.gif) no-repeat;
}
.framePage .newsRight {
	width:300px;
	float:right;
	text-align:left;
}
.framePage .newsRight .newsContTitle{
	height:29px;
}