#studentManage {
	font-size:12px;
	text-align:left;
}
#studentManage .studentFieldset {
	padding:0 10px;
	width:770px;
	margin:0;
	border:1px solid #C6BEC6;
}
#studentManage .fieldset_btn {
	margin-left:1px!important;
	margin-left:3px;
	margin-bottom:3px;
}
#studentManage .tab_table {
	width:792px;
}