body {
	margin:0 auto;
	text-align:center;
	font-size:12px;
}
.popTitle{/*弹出窗体的标题*/
	color:#fff;
	margin-bottom:5px;
	font-weight:bold;
	background:url(../../../App_Image/Admin/xiao_title_back.gif) repeat-x;
	height:24px;
	line-height:22px;
	text-indent:1em;
	width:100%;
	text-align:left;
}
.content {
	text-align:left;
	margin-left:5px;
}
#tab {
	width:100%;
}