<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">
    <!-- 考生 -->
    <bean id="clerkAction" class="org.yohta.action.ClerkAction" scope="prototype">
    	<property name="clerkDao" ref="clerkDao"></property>
    </bean>  
    <bean id="clerkDao" class ="org.yohta.dao.impl.ClerkDaoImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <!-- 试卷 -->
    <bean id="tkclAction" class="org.yohta.action.TkclAction" scope="prototype">
    	<property name="tkclService" ref="tkclService"></property>
    </bean>
    <bean id="tkclService" class="org.yohta.service.impl.TkclServiceImpl">
    	<property name="tkclDao" ref="tkclDao"></property>
    	<property name="clerkClDao" ref="clerkClDao"></property>
    </bean>
    
    <bean id="tkclDao" class="org.yohta.dao.impl.TkclDaoImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <!-- 考试 -->
    <bean id="clerkClDao" class="org.yohta.dao.impl.ClerkClDaoImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <!-- 题目 -->
    <bean id="tmAction" class="org.yohta.action.TmAction" scope="prototype">
    	<property name="tmService" ref="tmService"></property> 
    </bean>
     <bean id="tmService" class ="org.yohta.service.impl.ExamTmServiceImpl">
    	<property	name="tkjDao" ref="tkjDao"></property>
    	<property name="tkDao" ref="tkDao"></property>
    	<property name="tmDao" ref="tmDao"></property>
    </bean>
    <bean id="tmDao" class="org.yohta.dao.impl.ExamTmDaoImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
     
   
   <!-- 题库 -->
   	<bean id="tkAction" class="org.yohta.action.TkAction" scope="prototype">
   		<property name="tkService" ref="tkService"></property>
   	</bean>
    <bean id="tkService" class ="org.yohta.service.impl.ExamTkServiceImpl">
    	<property	name="tkDao" ref="tkDao"></property>
    </bean> 
    <bean id="tkDao" class="org.yohta.dao.impl.ExamTkDaoImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <!-- 题库集 -->
    <bean id="tkjAction" class="org.yohta.action.TkjAction" scope="prototype">
    	<property name="tkjService" ref="tkjService"></property> 
    </bean>
    <bean id="tkjService" class ="org.yohta.service.impl.ExamTkjServiceImpl">
    	<property	name="tkjDao" ref="tkjDao"></property>
    </bean>
    
    <bean id="tkjDao" class="org.yohta.dao.impl.ExamTkjDaoImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
 
    <bean id="hibernatetemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean> 

	  
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3309/exam"/>
		<property name="username" value="root"/>
		<property name="password" value="gyb520"/>
	</bean>
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="mappingResources">
        	<list>
        		<value>hbm/Clerk.hbm.xml</value>
        		<value>hbm/ClerkCl.hbm.xml</value>
        		<value>hbm/ClerkGdksTm.hbm.xml</value>
        		<value>hbm/ClerkKscj.hbm.xml</value>
        		<value>hbm/Tk.hbm.xml</value>
        		<value>hbm/Tkj.hbm.xml</value>
        		<value>hbm/Tm.hbm.xml</value>
        		<value>hbm/Organ.hbm.xml</value>
        		<value>hbm/TkCl.hbm.xml</value>
        		<value>hbm/TkClNdzsd.hbm.xml</value>
        		<value>hbm/TkClSort.hbm.xml</value>
        		<value>hbm/TkClTx.hbm.xml</value>
        		<value>hbm/Gdsj.hbm.xml</value>
        	</list>
        </property>
        <property name="hibernateProperties">
			<props>
				<prop key="dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="show_sql">true</prop>
				<prop key="format_sql">true</prop>
			</props>
	    </property>
	   
    </bean>
    <bean name="txManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
    	<property  name="sessionFactory" ref="sessionFactory">
	    </property>
    </bean>
    <aop:config >
    	<aop:pointcut expression="execution(* org.yohta.service.impl.*.*(..))"  
            id="serviceMethod" />  
    	<aop:advisor advice-ref="transactionAdvice" pointcut-ref="serviceMethod" /> 
    </aop:config>
	  <tx:advice id="transactionAdvice" transaction-manager="txManager">  
        	<tx:attributes> 
        		<tx:method name="login*" propagation="REQUIRED"/> 
	            <tx:method name="save*" propagation="REQUIRED" /> 
	            <tx:method name="add" read-only="false"/>   
	            <tx:method name="read*" read-only="true" />  
	            <tx:method name="list*" read-only="true" />  
	            <tx:method name="delete*" propagation="REQUIRED" read-only="false"/>  
	            <tx:method name="modify*" propagation="REQUIRED" />  
	       	     <tx:method name="*" propagation="REQUIRED" />  
        	</tx:attributes>  
   	 </tx:advice>  


</beans>